{% extends "base.html" %}

{% block conteudo %}
<div class="grid">
    <div><h3>Dados do paciente</h3></div>
    <div style="text-align: right;">
        <a href="{{ url_for('painel.alterar_paciente', id_paciente=paciente.id) }}">Alterar dados</a> &nbsp; &nbsp; 
        <a class="secondary" href="{{ url_for('painel.pacientes') }}">Voltar</a>
    </div>
</div>


{% include 'mensagem.html' %}

<div class="overflow-auto">
    <table>
        <tbody>
            <tr>
                <td style="text-align: right;">Nome:</td>
                <td><strong>{{ paciente.nome }}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">E-mail:</td>
                <td><strong>{{ paciente.email }}</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">Data nasc.:</td>
                <td><strong>{{ paciente.data_nascimento.strftime("%d/%m/%Y") }} ({{ calcular_idade(paciente.data_nascimento) }} anos)</strong></td>
            </tr>
            <tr>
                <td style="text-align: right;">Link para acesso do paciente:</td>
                <td><strong>{{ url_for('painel.paciente', token=paciente.token_acesso, _external=True) }}</strong></td>
            </tr>
        </tbody>
    </table>
</div>

<h4>Dieta</h4>

<div class="overflow-auto">
    <table>
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Horário</th>
                <th>Resumo nutricional</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for refeicao in refeicoes %}
            <tr>
                <td>{{ refeicao.descricao }}</td>
                <td>{{ refeicao.horario.strftime("%H:%M") }}</td>
                <td></td>
                <td style="text-align: right;"><a class="secondary" href="{{ url_for('painel.detalhes_refeicao', id_refeicao=refeicao.id) }}">Detalhes</a></td>
            </tr>
            {% endfor %}
            <tr>
                <td><a href="{{ url_for('painel.nova_refeicao', id_paciente=paciente.id) }}">Nova refeição</a></td>
                <td></td>
                <td></td>
                <td style="text-align: right;"><a class="secondary" href="{{ url_for('painel.pacientes') }}">Voltar</a></td>
            </tr>
        </tbody>
    </table>
</div>
 
{% endblock %}