{% extends "base_2colunas.html" %}

{% block conteudo_coluna %}
<h3>Entrar</h3>
{% include 'mensagem.html' %}
<form method="POST" action="{{ url_for('login.entrar') }}">
    <fieldset>
        <label>
            <input type="email" name="email" placeholder="E-mail">
        </label>

        <label>
            <input type="password" name="senha" placeholder="Senha">
        </label>

        <label>
            <input type="checkbox" name="lembrar">
            Lembrar e-mail
        </label>
    </fieldset>
    <input type="submit" value="Entrar"/>
    
    <p><a href="{{ url_for('login.esqueci_senha') }}">Esqueci minha senha</a></p>
</form>
{% endblock %}

