{% extends "base_2colunas.html" %}

{% block conteudo_coluna %}
<p>
    <strong><span class="pico-color-azure-650">Free</span><span class="pico-color-azure-500">Diet</span></strong> é uma ferramenta
    implementada para facilitar a consulta das informações da Tabela Brasileira de Composição dos Alimentos (TACO). 
    Aqui você pode montar cardápios personalizados, visualizar as informações nutricionais dos alimentos selecionados, e comparar
    com as recomendações diárias para manter uma boa saúde.
</p> 
{% endblock %}

