{% extends "base.html" %}

{% block conteudo %}
<h3>Nova refeição</h3>

<p>Paciente: <strong>{{ paciente.nome }} ({{ calcular_idade(paciente.data_nascimento) }} anos)</strong></p>

{% include 'mensagem.html' %}

<form method="POST" action="{{ url_for('painel.nova_refeicao', id_paciente=paciente.id) }}">
    <fieldset>
        <label>
            <input type="text" name="descricao" placeholder="Descrição" value="{{ descricao }}"/>
        </label>
    </fieldset>

    <fieldset role="group">
        <input type="number" name="hora" min="0" max="23" value="{{ hora }}" placeholder="hh"/>
        <input type="number" name="minuto" min="0" max="59" step="5" value="{{ minuto }}" placeholder="mm"/>
    </fieldset>

    <div class="grid">
        <div><a role="button" href="#" onclick="this.closest('form').submit();return false;">Salvar</a></div>
        <div style="text-align: right;"><a class="secondary" href="{{ url_for('painel.dados_paciente', id_paciente=paciente.id) }}">Voltar</a></div>
    </div>
</form>
{% endblock %}